<h1>Travel Agencies</h1>

<h2>Pending Travel Agency Registrations</h2>
<div class="table-responsive">
  <table class="table table-striped">
    <thead>
      <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Owner</th>
        <th>Email</th>
        <th>Mobile</th>
        <th>Status</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let pagency of pendingAgencies">
        <td>{{pagency?._id.substring(pagency._id.length-5)}}</td>
        <td>{{pagency.agencyName}}</td>
        <td>{{pagency.ownedBy}}</td>
        <td>{{pagency.email}}</td>
        <td>{{pagency.mobileNumber}}</td>
        <td>{{pagency.status}}</td>
        <td>
          <button (click)="select(pagency)" type="button" class="btn btn-outline-primary" data-toggle="modal" data-target="#Details">Details</button>
          <button (click)="approveAgency(pagency)" type="button" class="btn btn-success" data-toggle="modal" data-target="#delete">Approve</button>
          <button (click)="denyAgency(pagency)" type="button" class="btn btn-danger" data-toggle="modal" data-target="#delete">Deny</button>
        </td>
      </tr>
    </tbody>
  </table>
</div>

<h2>Manage Agencies</h2>
<!-- <button class="btn btn-success float-right m-2" data-toggle="modal" data-target="#AddAgency">Add Agency</button> -->
<div class="table-responsive">
  <table class="table table-striped">
    <thead>
      <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Owner</th>
        <th>Email</th>
        <th>Mobile</th>
        <th>Status</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let agency of agencies">
        <td>{{agency?._id.substring(agency._id.length-5)}}</td>
        <td>{{agency.agencyName}}</td>
        <td>{{agency.ownedBy}}</td>
        <td>{{agency.email}}</td>
        <td>{{agency.mobileNumber}}</td>
        <td>{{agency.status}}</td>
        <td>
          <button (click)="select(agency)" type="button" class="btn btn-outline-primary" data-toggle="modal" data-target="#Details">Details</button>
          <!-- <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#EditAgency">Edit</button> -->
          <button (click)="deleteAgency(agency)" type="button" class="btn btn-danger" data-toggle="modal" data-target="#delete">Delete</button>
        </td>
      </tr>
    </tbody>
  </table>
</div>

<div class="row justify-content-center align-items-center">
  <div class="center-div anchor">
    <br>
    <ul class="pagination pagination-md">
      <li class="page-item">
        <a [class.disabled]="activePage===1" (click)="previousPage()" class="btn page-link">Previous</a>
      </li>
      <div *ngFor="let page of pages; let i = index">
        <li class="page-item" [class.active]="isActivePage(i)">
          <a (click)="toPage(page)" class="page-link">{{page}}</a>
        </li>
      </div>
      <li class="page-item">
        <a [class.disabled]="activePage===pages.length" (click)="nextPage()" class="btn page-link">Next</a>
      </li>
    </ul>
    <br>
  </div>
</div>


<!--MODAL ADD Agency-->
<div class="modal fade" id="AddAgency">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title" align="center">New Travel Agency</h4>
        <button type="button" class="close" data-dismiss="modal">&times;</button>
      </div>
      <div class="modal-body">
        <input type="text" class="form-control mt-1" placeholder="Agency Name">
        <input type="text" class="form-control mt-1" placeholder="Owner">
        <input type="text" class="form-control mt-1" placeholder="Mobile Number">
        <input type="text" class="form-control mt-1" placeholder="Email">
        <input type="text" class="form-control mt-1" placeholder="Password">
        <input type="text" class="form-control mt-1" placeholder="Address"> BIR
        <input type="file" class=" mt-1">
        <br> DTI
        <input type="file" class=" mt-1">
        <br> BusinessPermit
        <input type="file" class=" mt-1">
        <br>
      </div>
      <div class="modal-footer">
        <button align="right" type="button" class="btn btn-primary" align="right">Accept</button>
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>

    </div>
  </div>
</div>


<!--MODAL Edit Agency-->
<div class="modal fade" id="EditAgency">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <input type="text" class="form-control mt-1" value="AGENCY NAME">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
      </div>
      <div class="modal-body">
        <input type="text" class="form-control mt-1" value="Owner">
        <input type="text" class="form-control mt-1" value="Mobile Number">
        <input type="text" class="form-control mt-1" value="Email">
        <input type="text" class="form-control mt-1" value="Password">
        <input type="text" class="form-control mt-1" value="Address"> BIR
        <input type="file" class=" mt-1">
        <br> DTI
        <input type="file" class=" mt-1">
        <br> BusinessPermit
        <input type="file" class=" mt-1">
        <br>
      </div>
      <div class="modal-footer">
        <button align="right" type="button" class="btn btn-primary" align="right">Accept</button>
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>

    </div>
  </div>
</div>

<!--MODAL Details-->
<div class="modal fade" id="Details">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <strong>{{selectedAgency?.agencyName}}</strong>
        <button type="button" class="close" data-dismiss="modal">&times;</button>
      </div>
      <div class="modal-body">
        <p><strong>Agency Name: </strong>{{selectedAgency?.agencyName}}</p>
        <p><strong>Owned By: </strong>{{selectedAgency?.ownedBy}}</p>
        <p><strong>Email: </strong>{{selectedAgency?.email}}</p>
        <p><strong>Mobile Number: </strong>{{selectedAgency?.mobileNumber}}</p>
        <p><strong>Address: </strong>{{selectedAgency?.address}}</p>
        <p><strong>Status: </strong>{{selectedAgency?.status}}</p>
        <p><strong>Current Balance: </strong>{{selectedAgency?.balance | currency:'PHP':true:'1.2-2'}}</p>
        <p><strong>BIR:</strong></p>
        <img src="{{selectedAgency?.bir}}" style="max-width:100%">
        <p><strong>DTI:</strong></p>
        <img src="{{selectedAgency?.dti}}" style="max-width:100%">       
         <p><strong>Business Permit:</strong></p>
        <img src="{{selectedAgency?.business}}" style="max-width:100%">
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>

    </div>
  </div>
</div>