<h1>Travel Agencies</h1>

<h2>Pending Travel Agency Registrations</h2>
<div class="table-responsive">
  <table class="table table-striped">
    <thead>
      <tr>
        <th>ID</th>
        <th>Tour Title</th>
        <th>Agency</th>
        <th>Price</th>
        <th>Date</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let ptour of pendingTours">
        <td>{{ptour._id.substring(ptour._id.length-5)}}</td>
        <td>{{ptour.title.substring(0,15)}}</td>
        <td>{{ptour.agency}}</td>
        <td>{{ptour.price}}</td>
        <td>{{ptour.date | date:'dd/MM/yy HH:mm'}}</td>
        <td>
          <button type="button" class="btn btn-outline-primary" data-toggle="modal" data-target="#EditTrans">Details</button>
          <button type="button" class="btn btn-success ml-2" data-toggle="modal" data-target="#delete">Approve</button>
          <button type="button" class="btn btn-danger ml-2" data-toggle="modal" data-target="#delete">Deny</button>
        </td>
      </tr>
    </tbody>
  </table>
</div>

<h2>Manage Agencies</h2>
<button class="btn btn-success float-right m-2" data-toggle="modal" data-target="#AddAgency">Add Agency</button>
<div class="table-responsive">
  <table class="table table-striped">
    <thead>
      <tr>
        <th>ID</th>
        <th>Tour Title</th>
        <th>Agency</th>
        <th>Price</th>
        <th>Date</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let tour of tours">
        <td>{{tour._id.substring(tour._id.length-5)}}</td>
        <td>{{tour.title}}</td>
        <td>{{tour.agency}}</td>
        <td>{{tour.price}}</td>
        <td>{{tour.date | date:'dd/MM/yy HH:mm'}}</td>
        <td>
          <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#EditAgency">Edit</button>
          <button type="button" class="btn btn-danger ml-2" data-toggle="modal" data-target="#delete">Delete</button>
        </td>
      </tr>
    </tbody>
  </table>
</div>

<div class="row justify-content-center align-items-center">
  <div class="center-div anchor">
    <br>
    <ul class="pagination pagination-md">
      <li class="page-item">
        <a (click)="previousPage()" class="page-link" >Previous</a>
      </li>
      <div *ngFor="let page of pages; let i = index">
        <li class="page-item" [class.active]="isActivePage(i)" >
        <a (click)="toPage(page)" class="page-link" >{{page}}</a>
      </li>
      </div>
      <li class="page-item">
        <a (click)="nextPage()" class="page-link">Next</a>
      </li>
    </ul>
    <br>
  </div>
</div>


<!--MODAL ADD Agency-->
<div class="modal fade" id="AddAgency">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title" align="center">New Travel Agency</h4>
        <button type="button" class="close" data-dismiss="modal">&times;</button>
      </div>
      <div class="modal-body">
		<input type="text" class="form-control mt-1" placeholder="Agency Name">
		<input type="text" class="form-control mt-1" placeholder="Owner">
		<input type="text" class="form-control mt-1" placeholder="Mobile Number">
		<input type="text" class="form-control mt-1" placeholder="Email">
		<input type="text" class="form-control mt-1" placeholder="Password">
		<input type="text" class="form-control mt-1" placeholder="Address">
		BIR <input type="file" class=" mt-1" ><br>
		DTI <input type="file" class=" mt-1" ><br>
		BusinessPermit <input type="file" class=" mt-1" ><br>
      </div>
      <div class="modal-footer">
	  <button  align="right" type="button" class="btn btn-primary" align="right">Accept</button>
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>

    </div>
  </div>
</div>


<!--MODAL Edit Agency-->
<div class="modal fade" id="EditAgency">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <input type="text" class="form-control mt-1" value="AGENCY NAME">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
      </div>
      <div class="modal-body">
		<input type="text" class="form-control mt-1" value="Owner">
		<input type="text" class="form-control mt-1" value="Mobile Number">
		<input type="text" class="form-control mt-1" value="Email">
		<input type="text" class="form-control mt-1" value="Password">
		<input type="text" class="form-control mt-1" value="Address">
		BIR <input type="file" class=" mt-1" ><br>
		DTI <input type="file" class=" mt-1" ><br>
		BusinessPermit <input type="file" class=" mt-1" ><br>
      </div>
      <div class="modal-footer">
	  <button  align="right" type="button" class="btn btn-primary" align="right">Accept</button>
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>

    </div>
  </div>
</div>
