<div class="container-fluid">
  <div class="row">
    <nav class="col-sm-3 col-md-2 hidden-xs-down bg-faded sidebar">
      <!-- <ul class="nav nav-pills flex-column">
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['/']" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}">Dashboard <span class="sr-only">(current)</span></a>
        </li>
      </ul> -->

      <ul class="nav nav-pills flex-column">
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['/users']" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}">Users</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['/agencies']" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}">Agencies</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['/tours']" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}">Tours</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['/transactions']" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}">Transactions</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['/cashouts']" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}">Cashouts</a>
        </li>
      </ul>
<!-- 
      <ul class="nav nav-pills flex-column">
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['/']" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}">Reports
            <span class="sr-only">(current)</span>
          </a>
        </li>
      </ul> -->
    </nav>

    <main class="col-sm-9 offset-sm-3 col-md-10 offset-md-2 pt-3">
      <router-outlet></router-outlet>
    </main>
  </div>
</div>